# =============================================
# NLSP School Website — Environment Variables
# =============================================
# Aage jab bhi koi naya key do, usi key ko
# yahan bhi add karo is format mein:
# KEY_NAME=actual_value
# =============================================

# Resend API Key — Admission form emails ke liye
RESEND_API_KEY=re_55M2EnfC_Psd7VZWWxaU1WA9hguoNJQZN

# Session Secret — Login sessions ke liye
SESSION_SECRET=
